<head>
    <meta charset="utf-8"/>
    <title></title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/semantic.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/semantic.js') }}"></script>
    <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>

</head>
<body>
<form action="/testx" method="post">
 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main" style="width:1200px;height:800px;"></div>
        <div id="ec" style="height: 400px"></div>
        <!--引用plotly.js-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     <script type="text/javascript">
        /*var t2='[{"name":"zhangsan","age":"24"},{"name":"lisi","age":"30"},{"name":"wangwu","age":"16"},{"name":"tianqi","age":"7"}] ';
        var myobj=eval(t2);
        for(var i=0;i<myobj.length;i++){
            alert(myobj[i].name);
            alert(myobj[i].age);
        }*/
      <!---->
      //var tx=[{"CP": 2987.03, "HP": 2989.89, "LP": 2942.3, "OP": 2958.33, "RF": 1.59, "TV": 145227024170.0, "UD": 46.79, "query": null, "query_class": null, "times": "2011-01-04", "turnover": 109505243.0}, {"CP": 2972.22, "HP": 2984.71, "LP": 2957.25, "OP": 2966.49, "RF": -0.5, "TV": 134863488371.0, "UD": -14.81, "query": null, "query_class": null, "times": "2011-01-05", "turnover": 103750991.0}] ;
      //var ntx=tx.map(val=>va.CP)
      var t={{ data|safe }}
      //var arrJson = [{'name':78},{'name':'lily'},{'name':'xiaoyue'},{'name':'krry'}];
      //var newArrJson = arrJson.map( val => val.name);
      //console.log(newArrJson);

      //var data = eval(t)
        //document.write(data)
        //for(var i=0;i<data.length;i++) {
        //for(var i in data) {
            //document.write(data[i].times);
            //document.write(data[i].CP);
            //}
            //json数组类型字符串取值
            //console.log(data)
            //console.log(data[i].times)
            //var x=[data[i].times]
            //console.log(x)
            //document.write(obj[i].name)
            var trace = {
                x: t.map(val=>val.times),
                close: t.map(val=>val.CP),
                high: t.map(val=>val.HP),
                low: t.map(val=>val.LP),
                open: t.map(val=>val.OP),

                // cutomise colors
                increasing: {line: {color: 'red'}},
                decreasing: {line: {color: 'green'}},

                type: 'candlestick',
                xaxis: 'x',
                yaxis: 'y'
            };

        //}
      //console.log(trace)
      var datas = [trace];
      console.log(datas)
      var layout = {
        dragmode: 'zoom',
        showlegend: false,
        xaxis: {
          autorange: true,
          title: 'A股指数',
           rangeselector: {
              x: 0,
              y: 1.2,
              xanchor: 'left',
              font: {size:10},
              buttons: [{
                  step: 'month',
                  stepmode: 'backward',
                  count: 1,
                  label: '1 month'
              }, {
                  step: 'month',
                  stepmode: 'backward',
                  count: 6,
                  label: '6 months'
              }, {
                  step: 'all',
                  label: 'All dates'
              }]
            }
        },
        yaxis: {
          autorange: true,
        }
      };

      Plotly.plot('main', datas, layout);


        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('ec'));
        var upColor = '#ec0000';
        var upBorderColor = '#8A0000';
        var downColor = '#00da3c';
        var downBorderColor = '#008F28';
        // 指定图表的配置项和数据
        var t ={{ data|safe }};
        /*var times=t.map(val=>val.times);
        console.log(times);*/

        //测试构建数组
        /*var datas=[+t.map(val=>val.CP),+t.map(val=>val.HP)];
        console.log(datas);*/

        var times = t.map(function (item) {
            return item.times;
        })
        //console.log(times)

        var datas = t.map(function (item) {
            return [+item.OP, +item.CP, +item.LP, +item.HP];
        })
        var categoryData=times;
        var values=datas;
        function calculateMA(dayCount) {
            var result = [];
            for (var i = 0, len = values.length; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                var sum = 0;
                for (var j = 0; j < dayCount; j++) {
                    sum += values[i - j][1];
                }
                result.push(sum / dayCount);
            }
            return result;
        }


        option = {
            title: { //标题
                text: '',
                left: 0
            },
            tooltip: {//提示框
                trigger: 'axis',//触发类型：坐标轴触发
                axisPointer: { //坐标轴指示器配置项
                    type: 'cross'//指示器类型，十字准星
                }
            },
            legend: {//图例控件，点击图例控制哪些系列不现实
                data: ['日K', 'MA5', 'MA10', 'MA20', 'MA30']
            },
            grid: {//直角坐标系
                left: '10%',//grid组件离容器左侧的距离
                right: '10%',
                bottom: '15%'
            },
            xAxis: {
                type: 'category',//坐标轴类型，类目轴
                data: categoryData,
                scale: true,//只在数字轴中有效
                boundaryGap: false,//刻度作为分割线，标签和数据点会在两个刻度上
                axisLine: {onZero: false},
                splitLine: {show: false},//是否显示坐标轴轴线
                splitNumber: 20,//坐标轴的分割段数，预估值，在类目轴中无效
                min: 'dataMin',//特殊值，数轴上的最小值作为最小刻度
                max: 'dataMax'//特殊值，数轴上的最大值作为最大刻度
            },
            yAxis: {
                scale: true,//坐标刻度不强制包含零刻度
                splitArea: {
                    show: true//显示分割区域
                }
            },
            dataZoom: [ //用于区域缩放
                {
                    type: 'inside',//内置型数据区域缩放组件
                    start: 50,//数据窗口范围的起始百分比
                    end: 100//数据窗口范围的结束百分比
                },
                {
                    show: true,
                    type: 'slider',//滑动条型数据区域缩放组件
                    y: '90%',
                    start: 50,
                    end: 100
                }
            ],
            series: [ //图表类型
                {
                    name: '日K',
                    type: 'candlestick',//K线图
                    data: values,//y轴对应的数据
                    itemStyle: {
                        normal: {
                            color: upColor,
                            color0: downColor,
                            borderColor: upBorderColor,
                            borderColor0: downBorderColor
                        }
                    },
                    ////////////////////////图标标注/////////////////////////////

                    markPoint: {//图表标注
                        label: {//标注的文本
                            normal: {//默认不显示标注
                                formatter: function (param) {//标签内容控制器
                                    return param != null ? Math.round(param.value) : '';
                                }
                            }
                        },
                        data: [//标注的数据数组
                            /*{
                                name: 'XX标点',
                                coord: ['2013/5/31', 2300],//指定数据的坐标位置
                                value: 2300,
                                itemStyle: {//图形样式
                                    normal: {color: 'rgb(41,60,85)'}
                                }
                            },*/
                            {
                                name: 'highest value',
                                type: 'max',//最大值
                                valueDim: 'highest' //在highest维度上的最大值 最高价
                            },
                            {
                                name: 'lowest value',
                                type: 'min',
                                valueDim: 'lowest'//最低价
                            },
                            {
                                name: 'average value on close',
                                type: 'average',
                                valueDim: 'close'//收盘价
                            }
                        ],
                        tooltip: {//提示框
                            formatter: function (param) {
                                return param.name + '<br>' + (param.data.coord || '');
                            }
                        }
                    },
                    /////////////////////////////////图标标线///////////////////////////
                    markLine: {
                        symbol: ['none', 'none'], //标线两端的标记类型
                        data: [
                            [
                                {
                                    name: 'from lowest to highest',
                                    type: 'min', //设置该标线为最小值的线
                                    valueDim: 'lowest',//指定在哪个维度上的最小值
                                    symbol: 'circle',
                                    symbolSize: 10, //起点标记的大小
                                    label: {//normal默认，emphasis高亮
                                        normal: {show: false},//不显示标签
                                        emphasis: {show: false}//不显示标签
                                    }
                                },
                                {
                                    type: 'max',
                                    valueDim: 'highest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        normal: {show: false},
                                        emphasis: {show: false}
                                    }
                                }
                            ],
                            {
                                name: 'min line on close',
                                type: 'min',
                                valueDim: 'close'
                            },
                            {
                                name: 'max line on close',
                                type: 'max',
                                valueDim: 'close'
                            }
                        ]
                    }
                },
                {//MA5 5天内的收盘价之和/5
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(10),
                    smooth: true,
                    lineStyle: {//标线的样式
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(20),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'MA30',
                    type: 'line',
                    data: calculateMA(30),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },

            ]
        };
        //console.log(datas)
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</form>
</body>
</html>